.left-button{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.right-button{
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}