.egg::before {
    content: "\2665";
    font-size: 2rem;
    color: red;
}

.application_form{
    /* display: flex; */
    /* flex-direction: column; */
    /* vertical-align: top; */
    position: absolute;
    /* min-height: 200vh; */
    width: 80vw;
    height: 80vh;
}

.row{
    width: 50vw;
}

#Select1{
    width: 10vw;
}