.egg::before {
    content: "\2665";
    font-size: 2rem;
    color: red;
}

.application_form{
    margin-top: -200px;
    /* display: flex; */
    /* flex-direction: column; */
    /* vertical-align: top; */
    position: absolute;
    /* min-height: 200vh; */
}